<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Event Camp</title>
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <link rel="stylesheet" type="text/css" href="public/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="nav-link" href="/register">Register</a>
      <a class="nav-link" href="/addevent">Add Event</a>
      <a class="nav-link" href="/home">Events</a>
      <a class="nav-link" href="/userprofile">Profile</a>
      <a class="nav-link" href="/logout">Logout</a>
      
  </nav>

    {{{body}}}


</body>

</html>